@media only screen and (max-width: 1024px) {
  /* POSITION */
  .position__pattern1 {
    top: 25%;
  }

  .tablet {
    display: block;
  }

  .header--is-show--web {
    display: none;
  }

  /* メニューバー */

  .header--tablet {
    background-color: #d56042;
    width: 100%;
    transition: 0.3s;
    transform: translateY(0%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 10vh;
    display: block;
  }

  .header--tablet__container {
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    /* height: 100vh; */
  }

  .icon__container {
    padding-left: 10vw;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .icon {
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
    text-align: center;
  }

  .icon_line {
    position: absolute;
    left: 10px;
    width: 40px;
    height: 3px;
    background-color: #000000;
  }
  .icon_line1 {
    top: 33px;
  }
  .icon_line2 {
    top: 41px;
  }

  .header__menu--show {
    height: 100vh;
    width: 70vw;
    background-color: #d56042;
    background: linear-gradient(
      180deg,
      #d56042 0%,
      #d56042 30%,
      #df6237 30%,
      #df6237 100%
    );
    position: absolute;
    top: 0;
    left: -100%;
  }

  .close-icon__container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .batsu {
    display: block;
    width: 10vw; /*枠の大きさ*/
    height: 10vw; /*枠の大きさ*/
    position: relative;
    margin-right: 5vw;
  }

  .batsu::before,
  .batsu::after {
    content: "";
    display: block;
    width: 100%; /*バツ線の長さ*/
    height: 3px; /*バツ線の太さ*/
    background: #000;
    transform: rotate(45deg);
    transform-origin: 0% 50%;
    position: absolute;
    top: calc(14% + 5vw);
    left: 14%;
  }

  .batsu::after {
    transform: rotate(-45deg);
    transform-origin: 100% 50%;
    left: auto;
    right: 14%;
  }

  .logo__container {
    height: 20vh;
    padding: 0 0 10vw 10vw;
    display: flex;
    align-items: flex-end;
  }

  .menu__list__container {
    height: 70vh;
    padding-left: 10vw;
  }

  .menu__list {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    position: relative;
  }

  .menu__link {
    font-size: 14px;
    color: #000000;
  }

  .menu__link--decoration::after {
    width: 25px;
    height: 4px;
    background-color: #000000;
    content: "";
    position: absolute;
    top: 90%;
  }

  /* top */
  .top__title {
    padding: 100px 0 30px 0;
  }

  .top__content {
    height: 90vh;
  }

  .nav__list {
    display: none;
  }

  .top__app__box--1,
  .top__app__box--2 {
    border: 5px solid #000000;
    width: 200px;
    height: 400px;
  }

  .top__app__container__position {
    top: 82.2%;
    left: 37%;
  }

  /* SOWREEL */
  .video {
    width: 400px;
    height: 315px;
  }

  /* FEATURES */
  .features__layout {
    flex-direction: column;
    align-items: center;
    padding: 70px 10vw 95px 10vw;
    height: auto;
  }

  .features__layout--left {
    width: 50%;
    margin-bottom: 110px;
  }

  .features__title {
    margin-bottom: 30px;
  }

  .features__layout--right--web {
    display: none;
  }

  .features__layout--right--tablet {
    display: flex;
    align-items: center;
  }

  .features__description__container--tablet {
    padding: 30px 30px;
    border: 1px solid #000000;
    width: 315px;
    height: 304px;
    border-top: none;
  }

  .features__description__container--tablet--no-right {
    border-right: none;
  }

  .features__description__container--tablet:first-child {
    border-top: 1px solid #000000;
  }

  .features__description {
    line-height: 200%;
  }

  /* USECASES */
  .usecases__bg-img {
    height: 180px;
    width: 180px;
  }

  .footer__menu-item {
    margin: 0 5px;
  }

  /* service-flow--coordinator */
  .service-flow--coordinator__app--1,
  .service-flow--coordinator__app--2,
  .service-flow--coordinator__app--3 {
    top: -40%;
    height: 400px;
  }

  .service-flow--participant__app--1,
  .service-flow--participant__app--2,
  .service-flow--participant__app--3 {
    top: -40%;
    height: 400px;
  }

  /* service-flow幹事 */

  .service-flow--both--web {
    display: none;
  }

  .service-flow__top--tablet {
    display: block;
    height: 70vh;
    width: 100vw;
  }

  .service-flow--both--tablet {
    position: relative;
    width: 100vw;
    height: 70vh;
    overflow: hidden;
    display: block;
  }

  .service-flow__top__bg {
    height: 45vh;
    width: 100%;
    background-color: #c34b2c;
    position: relative;
  }

  .service-flow--coordinator__title {
    font-size: 31px;
    padding: 0 0 10vw 10vw;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
  }

  .service-flow--participant__photo--1 {
    height: 35vh;
    width: 100%;
    background-image: url(assets/service-flow-photo1.jpg);
  }

  .service-flow--participant__subject__container {
    width: 100%;
  }

  .service-flow--coordinator__subject {
    width: 50vw;
  }

  .service-flow--coordinator__subject {
    width: 50vw;
    background-color: #c34b2c;
  }

  .service-flow--coordinator__subject--light-color {
    background-color: #d56042;
  }

  .service-flow__layout--coordinator--tablet {
    height: 70vh;
    width: 100vw;
    background-color: #c34b2c;
  }

  .service-flow__slider__container {
    height: 50vh;
    width: 100vw;
  }

  .service-flow__appnumber__container--tablet {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
  }

  .service-flow--coordinator__app__container {
    position: unset;
    top: auto;
    left: auto;
    padding: 10vw 0 0 10vw;
    width: 50vw;
  }

  .service-flow--coordinator__app__box {
    border: 5px solid #000000;
    width: 130px;
    height: 260px;
    border-radius: 20px;
    z-index: 1;
  }

  .service-flow--coordinator__number__container {
    position: absolute;
    top: 55%;
    left: 10%;
    height: 50%;
    width: 37vw;
  }

  .service-flow--coordinator__number--tablet {
    bottom: unset;
    font-size: 130px;
    color: #d56042;
    position: absolute;
    left: 100%;
    opacity: 0;
  }

  .service-flow--coordinator__description__container {
    margin-right: 10vw;
    margin-top: 10vw;
    height: 50vh;
  }

  .service-flow--coordinator__description__box {
    height: 60%;
    width: 40vw;
  }

  .service-flow--coordinator__description__contents--tablet {
    position: absolute;
    right: -100%;
    bottom: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
  }

  .service-flow--coordinator__btn-container {
    height: 10vh;
    padding: 0 10vw;
    margin-top: -20vh;
  }

  .service-flow--coordinator__btn-box {
    width: 40vw;
  }

  .service-flow--coordinator__app--tablet {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
  }

  /* service-flow 参加者 */
  .service-flow--participant__box--tablet {
    display: none;
  }

  .service-flow--participant__description__contents--tablet {
    position: absolute;
    right: -100%;
    bottom: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
  }

  .service-flow--participant__number--tablet {
    bottom: unset;
    font-size: 130px;
    color: #d56042;
    position: absolute;
    left: 100%;
    opacity: 0;
  }

  .service-flow--participant__app--tablet {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
  }

  .service-flow--coordinator__description__contents--show {
    right: 0;
    opacity: 1;
  }

  .service-flow--coordinator__number--show {
    left: 0;
    opacity: 1;
  }

  .service-flow--coordinator__app--show {
    left: 0%;
  }

  /* footer */
  .footer {
    background-color: #000000;
    height: 60vh;
  }

  .footer__layput {
    padding: 20vw 10vw 0 10vw;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
  }
}

@media only screen and (max-width: 768px) {
  /* typography */
  h1 {
    font-size: 40px;
  }

  /* position */
  .position__pattern1 {
    width: 100vw;
  }

  .position__pattern3 {
    display: none;
  }

  .position__pattern4 {
    position: absolute;
    bottom: 0;
    width: 100vw;
  }

  /* menu */

  .icon__container {
    padding-left: 5vw;
  }

  .logo__container {
    padding: 0 0 5vw 5vw;
  }

  .menu__list__container {
    padding-left: 5vw;
  }

  /* top */
  .top__nav {
    display: none;
  }

  .top__content {
    height: 90vh;
    padding: 84px 5vw 0 5vw;
  }

  .top__title {
    padding: 200px 0 30px 0;
  }

  .apple-img {
    width: 140px;
    height: 45px;
    margin-right: 0px;
  }

  .google-img {
    width: 165px;
    height: 64px;
  }

  .download-icon__box {
    justify-content: flex-start;
  }

  .top__app__container__position {
    top: 144%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .top__app__box--1,
  .top__app__box--2 {
    width: 132px;
    height: 275px;
  }

  .top__app__box--1 {
    margin-top: 140px;
  }

  .top__app__box--1,
  .top__app__box--2 {
    border-radius: 20px;
  }

  /* overview */
  .overview__layout--web {
    display: none;
  }

  .overview__layout--phone {
    display: block;
    position: relative;
  }

  .overview-photo--1 {
    height: 432px;
    background-image: url("assets/overview-photo1--phone.jpg");
  }

  .overview-photo--2 {
    height: 432px;
    width: 100%;
    background-image: url("assets/usecases-reunion.jpg");
  }

  .overview__box {
    height: 70vh;
    z-index: 1;
    padding-left: 5vw;
  }

  .overview__description {
    line-height: 200%;
    width: auto;
    padding-right: 10vw;
  }

  /* showreel */

  .showreel {
    background: linear-gradient(90deg, #000000 0%, #000000 100%);
    height: 70vh;
    padding: 0 5vw;
  }

  .showreel__title {
    padding-top: 10vw;
    position: unset;
  }

  .space {
    height: 0vh;
  }

  .video {
    width: 315px;
    height: 178px;
  }

  /* features */
  .features__title {
    font-size: 31px;
  }

  .features__layout {
    align-items: unset;
    padding: 70px 5vw 95px 5vw;
  }

  .features__layout--right--tablet {
    flex-direction: column;
  }

  .features__description__container--tablet--no-right {
    border-right: 1px solid #000000;
  }

  .border-top--none {
    border-top: none !important;
  }

  /* service-flow */

  .service-flow__top__bg {
    height: 35vh;
  }

  .service-flow--coordinator__title {
    padding: 0 0 5vw 5vw;
  }

  .service-flow--both--tablet {
    height: 100vh;
  }

  .service-flow__layout--coordinator--tablet {
    height: auto;
  }

  .service-flow--coordinator__subject {
    height: 15vw;
  }

  .service-flow__slider__container {
    height: 92vh;
    flex-direction: column;
  }

  .service-flow__appnumber__container--tablet {
    flex-direction: column;
    height: 30vh;
  }

  .service-flow--coordinator__app__container {
    padding: 10vw 0 0 5vw;
  }

  .service-flow--coordinator__number__container {
    position: absolute;
    top: 65%;
    width: 70vw;
    left: 20%;
    height: 100%;
  }

  .service-flow--coordinator__description__container {
    padding: 0 5vw;
    margin-top: 40vw;
    width: 100%;
    justify-content: center;
    height: 40vh;
  }

  .service-flow--coordinator__description__box {
    width: 100%;
    height: auto;
  }

  .service-flow--coordinator__description {
    line-height: 200%;
  }

  .service-flow--coordinator__description__title {
    margin-bottom: 10px;
  }

  .service-flow--coordinator__btn-container {
    padding: 0 5vw 5vw 5vw;
    margin-top: -10vh;
  }

  .service-flow--coordinator__btn-box {
    width: 100%;
  }

  /* usecases */
  .usecases {
    padding-top: 20vw;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    margin: 0 5vw;
    height: 180vh;
  }

  .usecases__layout--left {
    width: auto;
  }

  .usecases__description {
    line-height: 200%;
  }

  .usecases__layout--right {
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 0;
    /* height: 180vh; */
  }

  .usecases__bg-img {
    height: 40vw;
    width: 100%;
  }

  .usecases__layout__detail--phone {
    border-right: 1px solid #bababa;
    height: 210vh;
    width: 45%;
    /* margin-top: 300px; */
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .usecases__layout__detail {
    height: 180vh;
    border-left: none;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    /* margin-top: 420px; */
  }

  .usecases__bg-img--3 {
    margin-left: 10px;
  }

  .usecases__bg-img--4 {
    margin-left: 10px;
  }

  .usecases__bg-img--5 {
    margin-left: 10px;
  }

  /* footer */
  .footer__layput {
    padding: 40vw 5vw 0 5vw;
  }
}
