@media only screen and (max-width: 1024px) {
  /* POSITION */
  .position__pattern1 {
    top: 25%;
  }

  .position__app-screen {
    top: 80%;
  }

  /* TOP */

  .top__title {
    padding: 0px 0 30px 0;
  }

  /* service-flow--coordinator */

  .service-flow--coordinator__layout--right-detail {
    padding-right: 10vw;
  }
}

@media only screen and (max-width: 600px) {
}
