/* COLOR */
/* #d56042 オレンジ */

/* ALL */

html {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  /* ここでhtml全体のフォントサイズを10pxに指定している。 16px*62.5%=10px これによってrem指定しやすい*/
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: #000000;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/* USED REGULARLY */

.english {
  font-family: Druk Wide Web;
  font-weight: 700;
}

/* TYPOGRAPHY  */
h1,
h2,
p {
  margin: 0;
}

.title--large {
  font-size: 6.2rem;
}

.title--medium {
  font-size: 3.1rem;
}

.sub__title {
  font-size: 1.8rem;
}

/* HEADER */
.header {
  background-color: #d56042;
}

.nav {
  padding: 4.2rem 10vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  display: flex;
}

.nav__item {
  margin: 0 3rem 0 0;
}

.nav__item:last-child {
  margin: 0;
}

.nav__link {
  font-size: 1.4rem;
}

/* TOP */

.top {
  background-color: #d56042;
}

.content__top {
  padding: 8.4rem 10vw 11.8rem 10vw;
}

.decoration-line__box {
  position: relative;
}

.decoration-line::after {
  width: 2.5rem;
  height: 4px;
  background-color: #000000;
  content: "";
  position: absolute;
  top: -1rem;
}

.title__top {
  padding: 13.2rem 0 3rem 0;
}

.nav__top {
  padding-bottom: 8.4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.sub__title__top {
  margin-bottom: 5.3rem;
}

.download-icon__box {
  display: flex;
  align-items: center;
}

.apple-img {
  width: 18rem;
  height: 6rem;
  background-image: url("assets/Download_on_the_App_Store_Badge_US.svg");
  background-size: cover;
  margin-right: 1rem;
}

.google-img {
  width: 23.1rem;
  height: 9rem;
  background-image: url("assets/google-play-badge.png");
  background-size: cover;
}

/* OVERVIEW */
.overview-photo--1 {
  width: 50%;
  height: 38.7rem;
  background-size: cover;
  background-image: url("assets/overview-photo1.jpg");
  margin-bottom: 24.8rem;
}

.overview-photo--2 {
  width: 50%;
  height: 115.5rem;
  background-size: cover;
  background-image: url("assets/overview-photo2.jpg");
}

.overview__box {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 10rem;
}

.title--overview {
  margin-bottom: 2rem;
}

.sub-title__overview {
  font-weight: 500;
  margin-bottom: 8rem;
}

.decoration-line__overview::after {
  top: 0;
}

.discription__overview {
  font-size: 1.2rem;
  padding-top: 3rem;
}
