/* COLOR */
/* #d56042 オレンジ */
/* #c34b2c 薄いオレンジ */
/* #000000 ブラック */
/* #E7E7E7 ホワイトよりグレー */
/* #3D3D3D グレイ濃い */
/* #e0e0e0 グレイ明るい */
/* #ffffff ホワイト */

/* ALL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  background-color: #e7e7e7;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

li {
  list-style: none;
}

/* USED REGULARLY */

.english {
  font-family: Druk Wide Web;
  font-weight: 700;
}

.disabled {
  color: #d1d1d1;
  opacity: 0.4;
}

/* TYPOGRAPHY  */

h1 {
  font-size: 62px;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

/* EFFECT */
.underline {
  position: relative;
}

.underline:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  right: 0%;
  position: absolute;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.underline:hover:after {
  width: 100%;
  left: 0;
}

.underline:hover:hover {
  color: #000000;
}

.effect__hover--light:hover {
  background-color: #e7e7e7;
  transition: all 0.3s;
}

.effect__hover--light {
  background-color: inherit;
  transition: all 0.3s;
}

/* PATTERN POSITIONS */

.position__pattern1 {
  position: absolute;
  top: 12%;
  z-index: 3;
  width: 70vw;
}

.position__app-screen {
  position: absolute;
  top: 75%;
  left: 40%;
  width: 40vw;
  z-index: 4;
}

.position__pattern2 {
  background-image: url("assets/pattern2.svg");
  background-size: cover;
  height: 100vh;
  width: 50vw;
  position: absolute;
  top: 0px;
  right: -130px;
  z-index: -1;
}

.position__pattern3 {
  height: 100vh;
  width: 50vw;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("assets/pattern3.svg");
  background-size: cover;
}

/* HEADER */
.is-show__web {
  transform: translateY(0);
  background-color: #d56042;
  z-index: 10;
  width: 100%;
  transition: all 0.3s;
  position: fixed;
  top: 0;
  left: 0;
}

.header--is-show--tablet {
  display: none;
}

.header {
  background-color: #d56042;
  width: 100%;
  transition: 0.3s;
  transform: translateY(-100%);
  position: fixed;
  top: 0;
  left: 0;
}

.nav {
  padding: 42px 10vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  z-index: 5;
}

.nav__item {
  margin: 0 30px 0 0;
}

.nav__item:last-child {
  margin: 0;
}

.nav__link {
  font-size: 14px;
  color: #000000;
}

/* TOP */

.top {
  background-color: #d56042;
  position: relative;
}

.top__content {
  padding: 84px 10vw 0 10vw;
  height: 83vh;
}

.decoration-line__box {
  position: relative;
}

.decoration-line::after {
  width: 25px;
  height: 4px;
  background-color: #000000;
  content: "";
  position: absolute;
  top: -1px;
}

.top__title {
  padding: 132px 0 30px 0;
}

.top__nav {
  padding-bottom: 84px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.top__sub-title {
  margin-bottom: 53px;
  font-size: 18px;
  letter-spacing: 0.08em;
}

.download-icon__box {
  display: flex;
  align-items: center;
}

.apple-img {
  width: 180px;
  height: 60px;
  background-image: url("assets/Download_on_the_App_Store_Badge_US.svg");
  background-size: cover;
  margin-right: 10px;
}

.google-img {
  width: 231px;
  height: 90px;
  background-image: url("assets/google-play-badge.png");
  background-size: cover;
}

/* OVERVIEW */
.overview__layout--phone {
  display: none;
}

.overview__layout {
  display: flex;
  position: relative;
}

.overview__container {
  width: 50%;
}

.overview-photo--1 {
  height: 387px;
  background-size: cover;
  background-image: url("assets/overview-photo1.jpg");
}

.overview-photo--2 {
  width: 50%;
  background-size: cover;
  background-image: url("assets/overview-photo2.jpg");
}

.overview__box {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10vw;
  position: relative;
}

.overview__title {
  margin-bottom: 20px;
  font-size: 31px;
}

.overview__sub-title {
  font-weight: 500;
  margin-bottom: 80px;
  font-size: 18px;
  letter-spacing: 0.08em;
}

.overview__decoration-line::after {
  top: 0;
}

.overview__description {
  font-size: 12px;
  padding-top: 30px;
  overflow-wrap: normal;
  width: 314px;
  line-height: 180%;
}

/* SHOWREEL */
.showreel {
  background: linear-gradient(
    90deg,
    #000000 0%,
    #000000 50%,
    #e7e7e7 50%,
    #e7e7e7 100%
  );
  height: 100vh;
  padding: 0 10vw;
  position: relative;
}

.video-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video {
  width: 560px;
  height: 315px;
}

.showreel__title {
  color: #ffffff;
  font-size: 31px;
  position: absolute;
  top: 50%;
  left: 18%;
  z-index: 3;
}

/* SPACE */
.space {
  height: 40vh;
  width: 100%;
  background-color: #000000;
}

/* FEATURES */
.features {
  position: relative;
}

.features__layout {
  height: 100vh;
  display: flex;
  padding: 0 10vw;
}

.features__layout--left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features__layout--right--web {
  width: 50%;
  display: flex;
}

.features__layout--right--tablet {
  display: none;
}

.features__description--left {
  width: 50%;
  align-self: start;
}

.features__description--right {
  width: 50%;
  align-self: flex-end;
  margin-left: -1px;
}

.features__description-box--1 {
  padding: 32px 26px;
  border: 1px solid #000000;
  border-top: none;
  border-bottom: none;
}

.features__description-box--2 {
  padding: 32px 26px;
  border: 1px solid #000000;
  border-bottom: none;
}

.features__description-box {
  padding: 32px 26px;
  border: 1px solid #000000;
}

.features__title {
  margin-bottom: 50px;
  font-size: 40px;
}

.features__sub-title {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.08em;
}

.features__description-number {
  color: #d56042;
  font-weight: 700;
  font-size: 10px;
  margin-bottom: 60px;
}

.features__description-title {
  margin-bottom: 30px;
  letter-spacing: 0.08em;
}

.features__description {
  overflow-wrap: normal;
  letter-spacing: 0.08em;
  line-height: 180%;
}

/* SERVICE-FLOW BOTH */

.service-flow--both--web {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.service-flow__top--tablet {
  display: none;
}

.service-flow--both--tablet {
  display: none;
}

/* SERVICE-FLOW--coordinator */
.service-flow--coordinator__box {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
}

.service-flow--coordinator {
  background: linear-gradient(
    90deg,
    #c34b2c 0%,
    #c34b2c 90%,
    #d56042 90%,
    #d56042 100%
  );
  height: 100vh;
  position: relative;
}

.service-flow--hide {
  display: none;
}

.service-flow__layout--up {
  height: 33vh;
  width: 100vw;
  display: flex;
}

.service-flow--coordinator__photo--1 {
  height: 100%;
  width: 50%;
  background-image: url("assets/service-flow-photo1.jpg");
  background-size: cover;
}

.service-flow--coordinator__subject__container {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  position: relative;
}

.service-flow--coordinator__subject {
  font-size: 18px;
  font-weight: 500;
  height: 10vw;
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-flow--coordinator__arrow__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.3vw;
  width: 4.3vw;
  background-color: #d56042;
  position: absolute;
  top: 10vw;
  right: 10vw;
}

.service-flow__layout--down {
  height: 67vh;
  width: 100vw;
}

.slider {
  position: relative;
  height: 34vh;
  width: 100vw;
}

.service-flow__slider__container {
  position: relative;
  height: 34vh;
  display: flex;
}

.service-flow--coordinator__number__container {
  width: 40vw;
  height: 100%;
  margin-left: 10vw;
}

.service-flow--coordinator__number__box {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.service-flow--coordinator__number {
  font-size: 130px;
  color: #d56042;
  position: absolute;
  bottom: 0;
  left: 100%;
  opacity: 0;
  letter-spacing: 0.05em;
}

.service-flow--coordinator__number--show {
  left: 0;
  opacity: 1;
}

.service-flow--coordinator__app__container {
  position: absolute;
  /* width: 20vw;
  height: 70vh; */
  top: -35%;
  left: 38%;
}

.service-flow--coordinator__app__box {
  overflow: hidden;
  position: relative;
  border: 4px solid #000000;
  width: 240px;
  height: 504px;
  border-radius: 30px;
}

.service-flow--coordinator__app {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
}

.service-flow--coordinator__app--show {
  left: 0%;
}

.service-flow--coordinator__title {
  font-size: 40px;
  z-index: 1;
  padding-left: 10vw;
  position: absolute;
  top: 45%;
  letter-spacing: 0.08em;
}

.service-flow--coordinator__description__container {
  width: 40vw;
  height: 100%;
  margin-right: 18vw;
  display: flex;
  justify-content: flex-end;
}

.service-flow--coordinator__description__box {
  position: relative;
  width: 20vw;
  height: 100%;
  overflow: hidden;
}

.service-flow--coordinator__description__contents {
  width: 20vw;
  position: absolute;
  right: -100%;
  bottom: 0;
  opacity: 0;
  letter-spacing: 0.08em;
  line-height: 180%;
}

.service-flow--coordinator__description__contents--show {
  right: 0;
  opacity: 1;
}

.service-flow--coordinator__description__title {
  margin-bottom: 40px;
}

.service-flow--coordinator__description {
  font-size: 14px;
}

.service-flow--coordinator__btn-container {
  height: 33vh;
  width: 100vw;
  padding: 0 18vw;
  display: flex;
  justify-content: flex-end;
}

.service-flow--coordinator__btn-box {
  height: 100%;
  width: 20vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* SERVICEFLOW--participant */
.service-flow--participant__box {
  position: absolute;
  top: 0;
  right: -100%;
  width: inherit;
  z-index: 5;
}

.service-flow--participant {
  background: linear-gradient(
    90deg,
    #c34b2c 0%,
    #c34b2c 10%,
    #d56042 10%,
    #d56042 100%
  );
  height: 100vh;
  position: relative;
}

.service-flow__layout--up {
  height: 33vh;
  width: 100vw;
  display: flex;
}

.service-flow--participant__photo--1 {
  height: 100%;
  width: 50%;
  background-image: url("assets/service-flow-photo1.jpg");
  background-size: cover;
}

.service-flow--participant__subject__container {
  display: flex;
  justify-content: flex-start;
  width: 50%;
}

.service-flow--participant__subject {
  font-size: 18px;
  font-weight: 500;
  height: 10vw;
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.service-flow--participant__arrow__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.3vw;
  width: 4.3vw;
  background-color: #c34b2c;
  position: absolute;
  top: 10vw;
  left: 10vw;
}

.service-flow__layout--down {
  height: 67vh;
  width: 100vw;
}

.slider {
  position: relative;
  height: 34vh;
  width: 100vw;
}

.service-flow__slider__position--participant {
  position: absolute;
  right: -100%;
}

.service-flow__slider__container {
  position: relative;
  height: 34vh;
  display: flex;
}

.service-flow--participant__number__container {
  width: 25vw;
  height: 100%;
  margin-left: 15vw;
  margin-right: 10vw;
}

.service-flow--participant__number__box {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.service-flow--participant__number {
  font-size: 130px;
  color: #c34b2c;
  position: absolute;
  bottom: 0;
  right: -100%;
  opacity: 0;
}

.service-flow--participant__number--show {
  right: 0;
  opacity: 1;
}

.service-flow--participant__app__container {
  position: absolute;
  top: -35%;
  left: 45%;
}

.service-flow--participant__app__box {
  overflow: hidden;
  position: relative;
  border: 4px solid #000000;
  width: 240px;
  height: 504px;
  border-radius: 30px;
}

.service-flow--participant__app {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
}

.service-flow--participant__app--show {
  left: 0%;
}

.service-flow--participant__title {
  font-size: 40px;
  z-index: 1;
  padding-left: 10vw;
  position: absolute;
  top: 45%;
}

.service-flow--participant__description__container {
  width: 50vw;
  height: 100%;
  padding-left: 20vw;
  display: flex;
  justify-content: flex-start;
}

.service-flow--participant__description__box {
  position: relative;
  width: 20vw;
  height: 100%;
  overflow: hidden;
}

.service-flow--participant__description__contents {
  width: 20vw;
  position: absolute;
  right: -100%;
  bottom: 0;
  opacity: 0;
}

.service-flow--participant__description__contents--show {
  right: 0;
  opacity: 1;
}

.service-flow--participant__description__title {
  margin-bottom: 40px;
}

.service-flow--participant__description {
  font-size: 14px;
}

.service-flow--participant__btn-container {
  height: 33vh;
  width: 100vw;
  padding: 0 20vw;
  display: flex;
  justify-content: flex-start;
}

.service-flow--participant__btn-box {
  height: 100%;
  width: 20vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* USECASES */

.usecases {
  margin: 0 10vw;
  border-left: 1px solid #bababa;
  border-right: 1px solid #bababa;
  display: flex;
  align-items: center;
}

.usecases__layout--left {
  width: 50%;
}

.usecases__layout--right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
}

.usecaseces__sub-title {
  font-weight: 500;
  margin-bottom: 80px;
  font-size: 18px;
  letter-spacing: 0.08em;
}

.usecases__description {
  font-size: 12px;
  padding-top: 30px;
  overflow-wrap: normal;
  width: 209px;
  letter-spacing: 0.08em;
  line-height: 180%;
}

.usecases__layout__detail {
  border-left: 1px solid #bababa;
  padding: 157px 0;
}

.usecases__bg-img {
  height: 260px;
  width: 260px;
  position: relative;
}

.usecases__bg-img--1 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("assets/usecases-reunion.jpg");
  margin-bottom: 30px;
  background-size: cover;
}

.usecases__bg-img--2 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("assets/usecases-circle.jpg");
  background-size: cover;
}

.usecases__bg-img--3 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("assets/usecases-business.jpg");
  margin-bottom: 30px;
  margin-left: 30px;
  background-size: cover;
}

.usecases__bg-img--4 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("assets/usecases-friend.jpg");
  margin-bottom: 30px;
  margin-left: 30px;
  background-size: cover;
}

.usecases__bg-img--5 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("assets/usecases-relationship.jpg");
  margin-left: 30px;
  background-size: cover;
}

.usecases__bg-img__word {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

/* FOOTER */

.footer {
  background-color: #000000;
  height: 40vh;
}

.footer__layput {
  padding: 0 10vw 10vh 10vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer__title {
  color: #3d3d3d;
  margin-bottom: -5px;
}

.footer__menu {
  color: #e0e0e0;
  font-size: 14px;
  display: flex;
}

.footer__menu-item {
  color: #e0e0e0;
  margin: 0 10px;
}

.footer__menu-item:first-child {
  margin-left: 0;
}

.footer__menu-item:last-child {
  margin-right: 0;
}
